{% extends 'base.html.twig' %}

{% block title %}Edit blog{% endblock %}

{% block subtitle %}{% endblock %}

{% block body %}
    <div>
        {{ form(form) }}
    </div>
    <div>
        {{ form(form_delete) }}
    </div>
{% endblock %}
